<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <section>
      <form>
        <tr>
          <th>품목</th>
          <th>단가</th>
          <th>수량</th>
          <th>금액</th>
        </tr>
        <tr>
          <!-- 테이블 ID, 상품코드, 판매단가, 판매수량, 판매금액, 고객ID -->
          <td><%- TABLESID.o_table %></td>
          <td><%- TABLES.o_pcode %></td>
          <td><%- TABLES.o_count %></td>
          <td><%- TABLES.o_price %></td>
        </tr>
      </form>
    </section>
  </body>
</html>
